<div class="right">
<% if user_signed_in? %>
<%= render 'shared/friend_form' , user: @user%>
<% end %>
</div>
<%= image_tag @user.avatar.url(:thumb), class: 'profile' %>
<span class="left">
<h4><%= @user.name %></h4>
<div>
<div margin-left: 10px>
<% if current_user.friend_with?(@user) %>
<%= render 'users/profile' %>
<% elsif current_user == @user %>
<%= render 'users/profile' %>
<% else %>
<%= "Add " %><%= @user.name %><%= " as a friend to see their full profile."%>
</span>
<% end %>
</div>
</div>
